@media (orientation: landscape){
	.searchbox-row{
		max-width:70%;
		margin-top:20%;
		margin-left:15%;
		margin-right:15%;
	}
	html{
		background-size:cover;
	}
}

@media screen and (orientation: portrait) {
	.searchbox-row{
		max-width:100%;
	}
	.searchbox-main{
		max-width:90%;
	}
}

.title{
	color:white;
}

html {
	background-image: url(../img/header1.jpeg);
	background-repeat:no-repeat;
}
