- if errors.any?
  #error_explanation
    .alert.alert-error
      == #{pluralize(errors.count, "error")} prohibited this #{name} from being saved:
      %ul
        - errors.full_messages.each do |msg|
          %li= msg
