<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='custom.css' rel='stylesheet' type='text/css'>
    <style>
        .carousel-control {
            padding-top: 10%;
            width: 5%;
        }

        #map {
            margin: 20px;
            height: 300px;
        }

        .title,.name{

            text-align: center;
        }
    </style>


</head>

<body>

    <div class="container">
        <div class="col-md-12">
            <h1 id="genres-name">Genres</h1>

            <h3>
                <div class="row title">Venue</div>
            </h3>
            <div class="well">
                <div class="row">
                    <div class="col-sm-5" id="map"></div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="row">
                         <table class="table">
                                <caption>Upcoming Event</caption>
                                          <thead>
                                            <tr>
                                              <th>Date</th>
                                              <th>Event</th>
                                              <th>Location</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>John  </td>
                                              <td>Doe</td>
                                              <td>john@example.com</td>
                                            </tr>
                                            <tr>
                                              <td>Mary</td>
                                              <td>Moe</td>
                                              <td>mary@example.com</td>
                                            </tr>
                                            <tr>
                                              <td>July</td>
                                              <td>Dooley</td>
                                              <td>july@example.com</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                
                    
                        
                    </div>

                </div>
                <div id="myCarousel1" class="carousel slide">

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="#x">
                                        <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#x">
                                        <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#x">
                                        <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#x">
                                        <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="#x" class="thumbnail">
                                        <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#x" class="thumbnail">
                                        <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#x" class="thumbnail">
                                        <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#x" class="thumbnail">
                                        <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="#x" class="thumbnail">
                                        <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#x" class="thumbnail">
                                        <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#x" class="thumbnail">
                                        <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#x" class="thumbnail">
                                        <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                        <p class="col-sm-3 name">fdfs</p>
                                    </a>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->
                    </div>
                    <!--/carousel-inner-->
                    <a class="left carousel-control" href="#myCarousel1" data-slide="prev">‹</a>

                    <a class="right carousel-control" href="#myCarousel1" data-slide="next">›</a>
                </div>
              

            </div>
            <!--/myCarousel-->
        </div>


        <h3>
            <div class="row title">Person</div>
        </h3>
        <div class="well">
            <div id="myCarousel2" class="carousel slide">

                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x">
                                    <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x">
                                    <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x">
                                    <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x">
                                    <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner-->
                <a class="left carousel-control" href="#myCarousel2" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel2" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
         
        </div>
       <!-- <h3>
            <div class="row title">Band</div>
        </h3>
        <div class="well">
            <div id="myCarousel3" class="carousel slide">

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x">
                                    <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x">
                                    <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x">
                                    <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x">
                                    <img src="http://placehold.it/500x500" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                        </div>
                      
                    </div>
                    
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                        </div>
                       
                    </div>
                
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x" class="thumbnail">
                                    <img src="http://placehold.it/250x250" alt="Image" class="img-responsive">
                                    <p class="col-sm-3 name">fdfs</p>
                                </a>
                            </div>
                        </div>
                      
                    </div>
               
                </div>
               
                <a class="left carousel-control" href="#myCarousel3" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel3" data-slide="next">›</a>
            </div>
           
        </div>-->
        <!--/well-->
    </div>
    </div>




    <script>

        $(document).ready(function () {
            $('#myCarousel').carousel({
                interval: 10000
            })

            $('#myCarousel').on('slid.bs.carousel', function () {
                //alert("slid");
            });


        });



    </script>

    <script>

        $(document).ready(function () {
            $('#myCarousel2').carousel({
                interval: 10000
            })

            $('#myCarousel2').on('slid.bs.carousel', function () {
                //alert("slid");
            });


        });



    </script>

    <script>

        $(document).ready(function () {
            $('#myCarousel3').carousel({
                interval: 10000
            })

            $('#myCarousel3').on('slid.bs.carousel', function () {
                //alert("slid");
            });


        });

        function myMap() {
            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.2), zoom: 10
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzCv9_Nvfk_Kk3k3DZvcpwqOU1UO8VBF0&callback=myMap"></script>
    <!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->


    </script>
</body>

</html>